---
import '@styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000">
        <title>Ian's Website</title>
    </head>

    <body style="margin: 0;">
        <slot />
    </body>
</html>
