---
import AllLayout from "@layouts/AllLayout.astro";
---

<AllLayout>
    <div style="display: flex; flex-direction: column; min-height: 100vh;">
        <div style="flex: 1">
            <slot />
        </div>
    </div>
</AllLayout>
