---
---
<html>
  <body>
        <div style={{ width: '100%', height: '100dvh', display: 'flex', justifyContent: 'center', alignItems: 'center' }}>
        <a href="https://blog.ianmwilson.com">Go to blog</a>
        </div>
  </body>
</html>
